<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
  </head>

  <body>
    <!-- display error -->
    <% if(error){ %>
    <p>Error: <%= error %></p>
    <% } %>

    <h2>Sign In to Your Account :</h2>
    <form action="/auth/login" method="POST">
      <div>
        <label>Email </label>
        <input type="email" name="email" placeholder="Your email" required />
      </div>

      <br />

      <div>
        <label>Password </label>
        <input
          type="password"
          name="password"
          placeholder="Your password"
          required
        />
      </div>

      <input type="submit" />
    </form>
    <a href="forgot-password">Forgot Password?</a>
  </body>
</html>
