<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>

<body>
    <form action="/api/auth/login/basic" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>
        <br />
        <input type="submit" />
    </form>
</body>

</html>