<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Konfirmasi Pembayaran</title>
</head>

<body>
    <h1>Admin Konfirmasi Pembayaran</h1>
    <b>_________________________________</b>
    <h4>Pembayaran Tertunda</h4>
    <% paymentsUnconfirmed.forEach((pending) => {%>
        <div>
            <b>_________________________________</b>

            <b>id :
        <a href="/admin-payment/<%= pending.id %>"><%= pending.id %></a></b
      >
      <p>Total: <%= pending.total %></p>
      <p>status : <%= pending.status %></p>
    </div>
    <%})%>
    <b>_________________________________</b>

            <h4>Konfirmasi Pembayaran</h4>
            <% paymentsConfirmed.forEach((confirm) => {%>
                <div>
                    <b>_________________________________</b>

                    <b>id : <%= confirm.id %></b>
                    <p>Total:
                        <%= confirm.total %>
                    </p>
                    <p>status :
                        <%= confirm.status %>
                    </p>
                </div>
                <%})%>
                    <b>_________________________________</b>
</body>

</html>