<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h3>Halo <%= user.name %>, selamat datang di website resmi kami.</h3>

    <b
      >silahkan <a href="https://google.com">klik</a> disini untuk memverifikasi
      email kamu.</b
    >
  </body>
</html>
