<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h3>Hi, <%= name %>, we have request reset password for your account</h3>
    <b>click <a href="<%= link %>">here</a> to reset your password.</b>
  </body>
</html>
